# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
Scripts/
Lib/
Include/
pip-selfcheck.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# AWS
.aws/
*.pem
*.key

# Environment & Secrets
.env
config/secrets.yaml
config/config_local.yaml
*.secret

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log